<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
        <div style="margin:50px auto;width:70%;padding:20px 0">
           <div style="border-bottom:1px solid #eee">
              <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Prediction App</a>
           </div>
           <p style="font-size:1.1em">Hi,</p>
           <p>Thank you for choosing Prediction App. Use the following OTP to complete your Sign Up procedures. OTP is valid for 5 minutes</p>
           <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{otp}}</h2>
           <p style="font-size:0.9em;">Regards,<br />Prediction App</p>
           <hr style="border:none;border-top:1px solid #eee" />
        </div>
     </div>
</body>
